# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Drupal template

# Ignore drupal core (if not versioning drupal sources)
/vendor
/drush
/recovery.*
httpdocs/.csslintrc
httpdocs/.editorconfig
httpdocs/.eslintignore
httpdocs/.eslintrc.json
httpdocs/.gitattributes
httpdocs/.ht.router.php

/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/.htaccess
/error_docs
/logs
/subdomains
/tmp

/.env
/mariadb-init
/tests
.travis.yml
LICENSE.md
Makefile
README.md
docker-compose.yml
docker-sync.yml
docker.mk
traefik.yml
.docker-sync/
httpdocs/core/
httpdocs/modules/contrib/
httpdocs/themes/contrib/

# Ignore configuration files that may contain sensitive information
httpdocs/sites/*/*settings*.php
httpdocs/sites/*/*services*.yml
httpdocs/sites/*/*sites*.php

# Ignore paths that may contain user-generated content
httpdocs/sites/*/files
httpdocs/sites/*/public
httpdocs/sites/*/private
httpdocs/sites/*/files-public
httpdocs/sites/*/files-private

httpdocs/sites/default/settings.php
httpdocs/sites/default/services.yml
