# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Drupal template

# Ignore drupal core (if not versioning drupal sources)
/vendor
/drush
/recovery.*
httpdocs/.csslintrc
httpdocs/.editorconfig
httpdocs/.eslintignore
httpdocs/.eslintrc.json
httpdocs/.gitattributes
httpdocs/.ht.router.php

/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.ht.router.php
/.htaccess
/error_docs
/logs
/subdomains
/tmp
/private/webform

/.env
/mariadb-init
/tests
.travis.yml
LICENSE.md
README.md
docker-compose.yml
docker-sync.yml
docker.mk
traefik.yml
.docker-sync/

.ddev/
config/
