<div class="panel">
    <h3 class="panel__title">JIX Data Management</h3>
    <div class="panel__content">
        <ul class="admin-list">
            <li>
                <a href="/admin/jix-management/jobs-management-board">
                    <span class="label">Jobs management board</span>
                    <div class="description">Board to manage jobs. Publish or unpublish jobs.</div>
                </a>
            </li>
            <li>
                <a href="/admin/jix-management/employers-management-board">
                    <span class="label">Employers management board</span>
                    <div class="description">Board to manage employers. Publish or unpublish employers</div>
                </a>
            </li>
          <li>
            <a href="/admin/jix-management/news-management-board">
              <span class="label">News management board</span>
              <div class="description">Board to manage {{ drupal_token('site:name') }} news. Delete, publish or unpublish news</div>
            </a>
          </li>
          <li>
            <a href="/admin/jix-management/applications-management-board">
              <span class="label">Job applications management board</span>
              <div class="description">Board to manage job applications. Filtering and exporting job applications</div>
            </a>
          </li>
        </ul>
    </div>
</div>
