<div class="panel">
    <h3 class="panel__title">JIX Settings Management Panel</h3>
    <div class="panel__content">
        <ul class="admin-list">
            <li>
                <a href="/admin/manage/settings/website">
                    <span class="label">Websites details</span>
                    <div class="description">Website identification information.</div>
                </a>
            </li>
            <li>
                <a href="/admin/manage/settings/sites-services">
                    <span class="label">Our sites and services</span>
                    <div class="description">Other job boards and services we propose.</div>
                </a>
            </li>
          <li>
            <a href="/admin/manage/settings/sms">
              <span class="label">SMS service: FTP configuration</span>
              <div class="description">FTP configuration settings for SMS service.</div>
            </a>
          </li>
        </ul>
    </div>
</div>
