/* VARIABLES */

// colors
$primary-shade: rgb(12, 102, 40);
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: rgb(181, 0, 0);
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);
// Reassign color vars to semantic color scheme
$red: #b50000;
$yellow: #ffc107;
$orange: #F39C12;
$green: rgb(12, 102, 40);
$cyan: #3498DB;
$white: #fff;
$gray-100: #f8f9fa;
$gray-800: #343a40;
$theme-colors: ( primary: $primary-shade, secondary: $accent-shade, success: $accent-shade, info: $cyan, warning: $orange, danger: $red, light: $gray-100, dark: $gray-800);

$brand-primary: $primary-shade;
$brand-success: $accent-shade;
$brand-warning:         #F39C12;
$brand-danger:          #D62C1A;
$brand-info:            #3498DB;
$brand-inverse: $primary-shade;
// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
$body-color: $gray-800;
$inverse-bg: $primary-shade;
$inverse-color: $white;
// Links
//
// Style anchor elements.
$link-color: $accent-shade;
$link-decoration: none;
$link-hover-color: $accent-dark;
$link-hover-decoration: none;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;
