<div class="card">
  <div class="card-body">
    <h3 class="card-title text-danger"><i class="fas fa-exclamation"></i> {{ 'Sorry...'|t }}</h3>
    <p class="card-text h5">{{ 'The advert you are trying to view has expired.'|t }}</p>
  </div>
  <div class="card-footer">
    <a href="/" class="btn btn-outline-primary btn-lg">{{ 'Go back to homepage'|t }}</a>
  </div>
</div>
