<div class="card footer-block">
    <div class="card-header">
      <i class="fas fa-briefcase"></i> {{ title }}
    </div>
    <div class="card-body">
        {% for service in services %}
            <i class="fas fa-check"></i> {{ service|trim }}<br>
        {% endfor %}
    </div>
</div>
