<div class="card border-primary">
    <div class="card-header pl-3 bg-primary text-white">
      <i class="fas fa-briefcase"></i> {{ title }}
    </div>
    <div class="card-body p-3">
        {% for service in services %}
            <i class="fas fa-check"></i> {{ service|trim }}<br>
        {% endfor %}
    </div>
</div>
