<div class="card border-primary">
  <div class="card-header pl-3 bg-primary text-white">
      <i class="fas fa-chart-bar"></i> {{ title }}
    </div>
    <ul class="list-group">
        <li class="list-group-item p-2">Published jobs <span class="badge badge-pill badge-primary float-right">{{ jobs_count }}</span></li>
        <li class="list-group-item p-2">Registered employers <span class="badge badge-pill badge-primary float-right">{{ employers_count }}</span></li>
        <li class="list-group-item p-2">Registered job candidates <span class="badge badge-pill badge-primary float-right">42</span></li>
    </ul>
</div>
