{% if facebook is not empty %}
  <a href="{{ facebook }}" target="_blank" class="hir-social-link">
    <i class="fa-brands fa-facebook fa-2x mx-1" style="color: #0B8AEF"></i>
  </a>
{% endif %}
{% if twitter is not empty %}
  <a href="{{ twitter }}" target="_blank" class="hir-social-link">
    <i class="fa-brands fa-twitter fa-2x mx-1" style="color: #1A91DA"></i>
  </a>
{% endif %}
{% if instagram is not empty %}
  <a href="{{ instagram }}" target="_blank" class="hir-social-link">
    <i class="fa-brands fa-instagram fa-2x mx-1" style="color: #D62977"></i>
  </a>
{% endif %}
{% if youtube is not empty %}
  <a href="{{ youtube }}" target="_blank" class="hir-social-link">
    <i class="fa-brands fa-youtube fa-2x mx-1" style="color: #FF0100"></i>
  </a>
{% endif %}
