<div>
  <p>{{ 'Best regards,' | t }} <br>{{ drupal_token('site:name') }}</p>
</div>

<div style="padding: 20px; background-color: #f7f7f7; border-radius: 10px; text-align: center; width: 70%">
  <table cellpadding="1" cellspacing="1" style="width:100%; border: none">
    <tbody>
    {% include '@jix_notifier/includes/social-media-block.html.twig' %}
    </tbody>
  </table>
</div>
<img src="https://www.google-analytics.com/collect?v=1&tid=UA-42852300-1&t=event&ec=email&ea=open" alt="google_analytics"/>
