<div>
  <p>{{ 'Dear @recipient' | t({'@recipient': recipient}) }}</p>
  <p>{{ 'Your job @title has been published. It is available here: ' | t({'@title': job.title.value}) }}</p>

  <p>Best regards, <br>{{ drupal_token('site:name') }}</p>
</div>
