/.htaccess

core/
modules/contrib/
themes/contrib/

# Ignore configuration files that may contain sensitive information
sites/*/*settings*.php
sites/*/*services*.yml
sites/*/*sites*.php

# Ignore paths that may contain user-generated content
sites/*/files
sites/*/public
sites/*/private
sites/*/files-public
sites/*/files-private

sites/default/settings.php
sites/default/services.yml
